.w-95{
    width: 95%;
}
.w-90{
    width: 90%;
}
.w-80{
    width: 80%;
}
.max-w-0{
    max-width: 1200px;
}
.max-w-1{
    max-width: 1500px;
}
.max-w-2{
    max-width: 1600px;
}
.bg-card{
    background-color: var(--theme-bg-4);
}
.border-r-all{
    border-radius: 5px;
}
.main-min-height{
    min-height: calc(100vh - var(--header-height));
}

.bg-2{
    background-color: var(--theme-bg-2);
}
.border-2{
    border: 1px solid var(--theme-text-2);
}
.border-yellow{
    border: 1px solid var(--theme-yellow);
}
.font-12{
    font-size: 0.75rem;
}
.font-16{
    font-size: 1rem;
}
.font-40{
    font-size: 2.5rem;
}
.object-cover{
    object-fit: cover;
}
.h-75p{
    height: 75px;
}
.max-height-50{
    max-height: 50px;
}
a,
a:hover{
    color: var(--theme-yellow);
}

.custom-column{
    display: flex;
    flex-direction: column;
}

.search-input{
    background: transparent;
    height: 2rem;
    color: var(--theme-text-1);
}

.h-48p{
    height: 3rem;
}
.mt-8p{
    margin-top: 0.5rem;
}
.search-button{
    border: none;
    background-color: var(--theme-yellow);
    height: 2rem;
    width: 2rem;
    padding: 0;
    box-shadow: 0px 0px 10px #FFCC34;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    border-radius: 5px 0px 0px 5px;
}

.meta-critic img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.meta-critic {
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0 0.25rem;
    border-radius: 20px;
    align-self: end;
    margin-right: auto;
}

.bg-5{
    background-color: var(--theme-bg-5);
}

.page-item.active .page-link{
    background-color: transparent;
    border: 1px solid var(--theme-yellow);
    color: var(--theme-yellow);
    border-radius: 5px;

}
.page-link:hover{
    background-color: transparent;
    border: none;
    color: var(--theme-yellow);
}
.page-link{
    background-color: transparent;
    border: none;
    color: var(--theme-text-2);
}

.page-item.disabled .page-link{
    background-color: transparent;
    border: none;
    color: var(--theme-text-2);
}