.row {
    margin: 0;
}
.col{
    padding: 0;
}

.carousel-wrapper {
    width: 100%;
}

.carousel {
    width: 80%;
    color: var(--theme-yellow);
}

.carousel .outer-stage {
    flex-grow: 1;
    width: 5px;
    height: 50vmin;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.carousel .outer-stage::-webkit-scrollbar {
    display: none;
}

.carousel .stage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel .stage::-webkit-scrollbar {
    display: none;
}

.carousel .stage .slide {
    display: none;
    width: 100%;
    height: 100%;
}

.carousel .stage .slide.active {
    display: unset;
}

.store-intro {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 3rem;
    min-height: 50vmin;
    flex-direction: column;
}

img.back-image {
    position: absolute;
    opacity: 0.3;
    z-index: -3;
    top: 0;
    height: 50vmin;
}

.store-intro .supported-platforms {
    opacity: 1;
    height: 150px;
    width: 80%;
    box-shadow: 0px 0px 55px var(--theme-shadow);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
}

.store-intro .platform {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    justify-content: space-around;
}

.store-intro .platform img {
    height: 75px;
    width: 75px;
}

.store-intro .store-process .arrow img {
    width: 40px;
}
.store-intro .store-process .arrow{
    align-self: center;
}
.store-intro .store-process {
    width: 80%;
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-around;
}

.store-intro .store-process .wrapper {
    height: 190px;
    width: 190px;
    border: 4px solid #7a7b89;
    border-radius: 50%;
    display: flex;
}

.store-intro .store-process .process {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

.store-process .process .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-process .process .content .title {
    margin-top: 1rem;
}

.store-intro .store-process .wrapper:nth-child(1) .process {
    background: transparent linear-gradient(0deg, #017AFE 0%, #02F3EB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 22px #0184FC;
    opacity: 1;
}

.store-intro .store-process .wrapper:nth-child(3) .process {
    background: transparent linear-gradient(1deg, #757CFC 0%, #EA83EE 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #B20AAF;
    opacity: 1;
}

.store-intro .store-process .wrapper:nth-child(5) .process {
    background: transparent linear-gradient(180deg, #04FC94 0%, #2676EF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 22px #068394;
    opacity: 1;
}

.store-intro .store-process .wrapper:nth-child(7) .process {
    background: transparent linear-gradient(360deg, #FF6D89 0%, #FE958A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 14px #F25563;
    opacity: 1;
}

.store-intro .store-process .wrapper:nth-child(1) {
    border-top-color: #0fefeb;
    border-bottom-color: #2b74fa;
}

.store-intro .store-process .wrapper:nth-child(3) {
    border-top-color: #eb77eb;
    border-bottom-color: #8071f8;
}

.store-intro .store-process .wrapper:nth-child(5) {
    border-top-color: #00ff96;
    border-bottom-color: #3676e6;
}

.store-intro .store-process .wrapper:nth-child(7) {
    border-top-color: #fe928a;
    border-bottom-color: #ff6789;
}

.sell-offers {
    display: flex;
    max-width: 1600px;
    width: 95%;
    margin: auto;
}

.game-card-2 {
    width: 100%;
    height: 70px;
    background-color: rgba(111, 111, 111, 0.3);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.game-card-2 .col-4 {
    padding: 0;
    height: 70px;
}

.game-card-2 img.header {
    height: 70px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.game-card-2:nth-child(1) {
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.game-card-2:nth-child(1) a{
    color: var(--theme-yellow);
}
.online{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.25rem 0.5rem 0.25rem !important;
}
.online .count{
    margin-top: auto;
}
.online .progress{
    margin-top: 0.25rem;
}
.online .progress-bar{
    background-color: var(--theme-green);
}
.game-card-2 .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 0.25rem !important;
}

.game-card-2 .description a{
    color: var(--theme-text-1);
    text-decoration: none;
}

.game-card-2 .description .title{
    width: 100%;
    padding: 0.5rem 0.25rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.game-card-2 .description .title .text{
    margin-right: auto;
}

.game-card-2 .description .title img{
    width: 20px;
    margin-right: 0.5rem;
}
.meta-critic img{
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}
.meta-critic{
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0 0.25rem;
    border-radius: 20px;
    align-self: end;
    margin-right: auto;
}

.banner{
    height: 200px;
    position: relative;
    width: 90%;
    margin: 5rem auto;
    color: var(--dark-theme-text-1);
}
.banner .top-layer{
    position: absolute;
    left: 0px;
    top: -25%;
    z-index: 3;
    height: 150%;
}
.banner .back-layer{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .description{
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: 50%;
    background-color: rgba(11,11,11,0.8);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}
.bg-green{
    background-color: var(--theme-green);
    color: var(--light-theme-text-1);
}

.category-overview{
    width: 90%;
    margin: 2rem auto;
}
.category-overview .category-item{
    display: none;
}
.category-overview .category-item.active{
    display: unset;
}

.category-overview .col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.category-overview .category-selector{
    height: 16%;
    width: 100%;
    filter: grayscale(80%);
    position: relative;
}
.category-overview .category-selector.active{
    filter: grayscale(0%);
    transform: scale(1.2);
    z-index: 1;
}
.category-overview .category-selector img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.category-selector .category-text{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(11,11,11,0), rgba(11,11,11,0.7));
    color: var(--dark-theme-text-1);
}
.category-selector.active .category-text{
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--theme-yellow);
    background-image: linear-gradient(rgba(11,11,11,0.3), rgba(11,11,11,0.7));
}
.category-selector .category-text .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    font-size: 1.5em;
}
.category-selector .category-text .number{
    font-size: 5em;
}
.game-card img.header{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
.game-card{
    padding: 0;
    margin: 0 0.25rem;
    background-color: rgba(111, 111, 111, 0.3);
    border-radius: 5px;
    /*col*/
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.game-card .row{
    margin: 0.25rem 0;
}
.game-card .row:nth-child(1){
    margin: 0;
}
.game-card .title{
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}
.game-card .title .text{
    margin-right: auto;
}

.game-card .title img{
    width: 20px;
    margin-right: 0.5rem;
}

.coming-soon{
    width: 90%;
    margin: 2rem auto;
}
.coming-soon .games img{
    width: 100%;
    border-radius: 10px;
}
.coming-soon .game{
    filter: grayscale(100%);
    transition: scale 0.5s;
    padding: 0 0.5rem;
    margin-top: 1rem;
}
.coming-soon .game:hover{
    filter: grayscale(0%);
    scale: 1.2;
    z-index: 1;
}
.coming-soon .game .info{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: none;

}
.coming-soon .game:hover .info{
    display: unset;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    width: calc(100% - 1rem);
    background-image: linear-gradient(rgba(11,11,11,0), rgba(11,11,11,0.9));
    color: var(--dark-theme-text-1);
    border-radius: 10px;
    height: 50%;
}

.column-offer{
    width: 95%;
    margin: 2rem auto;
}
.column-offer .column-offer-inner{
    align-items: center;
}
.column-offer img.back-image{
    left: 0;
}
.game-card-hoverable{
    background-color: rgba(111, 111, 111, 0.3);
    margin: 0.25rem 0;
    border-radius: 5px;
    padding: 0rem 0.2rem;
}
.game-card-hoverable .show{
    align-items: center;
}
.game-card-hoverable .hover-show{
    display: none;
}
.game-card-hoverable .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding-left: 0.5rem;
}
.game-card-hoverable:hover .hover-show{
    display: flex;
}
.game-card-hoverable .title{
    width: 100%;
    padding: 0.5rem 0.25rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.game-card-hoverable .title .text{
    margin-right: auto;
}
.game-card-hoverable .title img{
    width: 20px;
}
.game-card-hoverable .meta-critic{
    margin-right: 0;
}
/* ---------------------------------------------------- */

@media only screen and (max-width: 500px) {
    .store-intro .platform img {
        width: 50px;
        height: 50px;
    }
    .store-intro .supported-platforms {
        height: 100px;
    }
}

@media only screen and (max-width: 820px) {
    .store-intro .supported-platforms {
        margin: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 920px) {
    .store-intro .store-process{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .store-intro .store-process .arrow{
        transform: rotate(90deg);
        margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 1100px) {
    .store-intro .store-process {
        width: 100%;
    }
}
