@media only screen and (min-width: 767px) {
    .mt-md-100{
        margin-top: -100px;
    }
    .w-md-50{
        width: 50% !important;
    }
}
@media only screen and (min-width: 992px) {
    .mt-lg-100{
        margin-top: -100px;
    }
    .w-lg-50{
        width: 50% !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1300px){
    .d-lg-n{
        display: none !important;
    }
}
.text-dark {
    color: var(--theme-bg-1) !important;
}
.text-white{
    color: var(--theme-text-1) !important;
}
.text-success{
    color: var(--theme-green) !important;
}
.text-warning-custom {
    color: var(--theme-text-5) !important;
}
.alert-success-custom{
    background: #00ad468a  no-repeat padding-box;
}
.text-color-4{
    color: var(--theme-text-4);
}
.border-div {
    border: 2px solid var(--theme-border-2);
    border-radius: 5px;
}
.item-1{
    background: var(--theme-bg-4);
    height: 300px;
}
.border-custom-top {
    border-top: #B8B6B4 solid .5px;
}
.border-custom-bottom {
    border-bottom: #B8B6B4 solid .5px;
}
.span-custom-1{
    background-color: var(--theme-bg-2);
    border-radius: 5px;
}
span{
    font-size: 1rem !important;
}
.m-min{
    margin: 5px;
}
.font-size-14 {
    font-size: 0.875rem !important;
}
.font-size-16 {
    font-size: 1rem !important;
}
.font-size-18 {
    font-size: 1.125rem !important;
}
.font-size-20 {
    font-size: 1.25rem !important;
}
.font-size-25 {
    font-size: 1.5625rem !important;
}
.color-1 {
    color: var(--dark-theme-text-4) !important;
}
.btn-center-2 {
    background: transparent linear-gradient(248deg, #FF7588 0%, #771AFC 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 10px #A14B87;
    border-radius: 5px;
    opacity: 0.7;
    justify-content: space-between;
}
.btn-center-1 {
    background: transparent linear-gradient(260deg, #EA0994 0%, #B903BD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 10px #A41080;
    border-radius: 5px;
    opacity: 0.7;
    justify-content: space-between;
}
.bg-black-25 {
    background-color: var(--theme-bg-7);
}
.text-black-50 {
    color: var(--theme-text-4) !important;
}
.bg-black-50 {
    background-color: var(--theme-bg-5) !important;
}
.bg-black-75 {
    background-color: var(--theme-bg-6) !important;
}
.bg-black-85 {
    background-color: var(--theme-bg-2) !important;
}
.bg-dark {
    background-color: var(--theme-bg-2) !important;
}
.justify-content-space-between{
    justify-content: space-between !important;
}
.align-content-space-around {
    align-content: space-around;
}
.img-custom{
    border: 1px solid var(--theme-border-2);
    background-color: #2a9055;
    border: 1px solid #303749;
    border-radius: 60%;
    opacity: 1;
    width: 30px;
    height: 30px;
}
a.active {
    background-color: var(--theme-bg-6) !important;
    color: var(--theme-text-1) !important;
}
.border-radius-t{
    border-radius: 0.25rem 0.25rem  0 0;
}
.border-radius-t-r{
    border-radius: 0 0.25rem  0 0;
}
.border-radius-b{
    border-radius: 0 0 0.25rem 0.25rem ;
}
.border-radius-l{
    border-radius: 0.25rem  0 0 0.25rem ;
}
.p-inherit {
    padding: inherit !important;
}
.border-radius-50 {
    border-radius: 30px !important;
}
.border-radius-20 {
    border-radius: 21px !important;
}
.ltr {
    direction: ltr !important;
}
.rtl {
    direction: rtl !important;
}
.border-red {
    border: 2px solid #F55C5C63;
}
.border-black-50 {
    border: 1px solid #B8B6B4;
}
.border-left {
    border-left: 1px solid #B8B6B4;
}
.border-dashed {
    border-bottom:1px dashed var(--theme-text-4);
}
.circle-warning {
    height: 13px;
    display: inline-flex;
    width: 13px;
    border-radius: 50%;
    background-color: var(--theme-text-5);
}

.radio-l-0::before, .radio-l-0::after {
    left: -1.5rem !important;
    right: auto !important;
}
.contact-form textarea,
.contact-form input{
    background: #0206216b;
    border: 1px solid var(--theme-border-2);
    color: var(--theme-text-1);
}
.contact-form textarea:focus,
.contact-form input:focus{
    box-shadow: 0 0 0.5rem 0.3rem rgba(211,211,211,0.5);
    background: var(--theme-input-bg);
    color: var(--theme-text-1);
    border: 1px solid var(--theme-border-2);
}
img.back-image1 {
    filter: brightness(40%);
    position: absolute;
    opacity: 1;
    z-index: -3;
    margin-top: -5%;
    /*top: 0;*/
    height: max-content !important;
}
.comment-bg-nav {
    background-color: #b8b6b4a6;
}
ul.comment-bg-nav a.active {
    background-color: var(--theme-bg-6) !important;
}
