:root{
  --dark-theme-bg-1: #020621;
  --dark-theme-bg-2: #10142A;
  --dark-theme-bg-3: #191d31;
  --dark-theme-bg-4: #303749b8;
  --dark-theme-bg-5: RGBA(184,182,180,.35);
  --dark-theme-bg-6: #30374987;
  --dark-theme-bg-7: #e5e5e573;
  --dark-theme-bg-8: #343a40;

  --dark-theme-sidebar: #10142AAC;
  --dark-theme-input-bg: rgba(2, 6, 33, 0.7);

  --dark-theme-text-1: #fff;
  --dark-theme-text-2: #BFBfBf;
  --dark-theme-text-3: #191d31;
  --dark-theme-text-4: #B8B6B4;

  --dark-theme-shadow: rgba(211, 211, 211, 0.1);

  --dark-theme-border-1: #707070;
  --dark-theme-border-2: #303749;

  --light-theme-bg-1: #fff;
  --light-theme-bg-2: #f2f2f2;
  --light-theme-bg-3: #191d31;
  --light-theme-bg-4: #ffffffb8;
  --light-theme-bg-5: #E5E5E5;
  --light-theme-bg-6: #fff;
  --light-theme-bg-7: #fff;
  --light-theme-bg-8: #fff;
  --light-theme-sidebar: #f2f2f2AC;

  --light-theme-input-bg: rgba(211, 211, 211, 0.7);

  --light-theme-text-1: #222;
  --light-theme-text-2: #3B3D40;
  --light-theme-text-3: #191d31;
  --light-theme-text-4: #445445;
  
  --light-theme-border-2: #fff;
  --light-theme-shadow: rgba(11, 11, 11, 0.3);

  --theme-yellow: #FFCC34;
  --theme-yellow-1: #E6B831;
  --theme-red: #f93355;
  --theme-green: #00be65;
  --theme-green: #00be65;

  --theme-bg-1: var(--dark-theme-bg-1);
  --theme-bg-2: var(--dark-theme-bg-2);
  --theme-bg-3: var(--dark-theme-bg-3);

  --theme-sidebar: var(--dark-theme-sidebar);

  --theme-bg-4: var(--dark-theme-bg-4);
  --theme-bg-5: var(--dark-theme-bg-5);
  --theme-bg-6: var(--dark-theme-bg-6);
  --theme-bg-7: var(--dark-theme-bg-7);

  --theme-input-bg: var(--dark-theme-input-bg);

  --theme-border-1: var(--dark-theme-border-1);
  --theme-border-2: var(--dark-theme-border-2);

  --theme-text-1: var(--dark-theme-text-1);
  --theme-text-2: var(--dark-theme-text-2);
  --theme-text-3: var(--dark-theme-text-3);
  --theme-text-4: var(--dark-theme-text-4);
  --theme-text-5: var(--theme-yellow);

  --theme-shadow:var(--dark-theme-shadow);

  --sidebar-width: 200px;
  --header-height: 75px;
}
body {
	font-family: 'Vazir FD', Vazir FD, Tahoma, Arial, sans-serif !important;
	font-weight: 300;
  direction: rtl;
  text-align: right;
  background-color: var(--theme-bg-2);
}



.sidebar {
  position: fixed;
  left: 0;
  top: var(--header-height);
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--theme-sidebar);
  color: var(--theme-text-2);
  transition: width 0.3s, transform 0.3s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /*box-shadow: var(--theme-shadow) 10px 0px 10px 15px;*/
}

.fa-google-plus:hover{
  color: #C31A1F;
}
.fa-twitter:hover{
  color: #1DA1F3;
}
.fa-telegram:hover{
  color: #26A9DD;
}
.fa-facebook:hover{
  color: #3A559F;
}
.search-bar {
  background-color: #4E5161;
  color: #BFBDBB;
  border-radius: 2em;
  align-items: center;
}
.search-bar .side-text{
  width: 85%;
}
.search-bar input{
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--theme-yellow);
}
.search-bar input::placeholder{
  color: var(--dark-theme-text-2);
}
.search-bar .fa-search {
  color: var(--theme-yellow);
}
.sidebar-item a,
.sidebar-child a{
  text-decoration: none;
  color: var(--theme-text-2);
}
.sidebar-item a:hover,
.sidebar-child a:hover{
  color: var(--theme-yellow);
}
.sidebar-links .icons div{
  text-align: center;
}
.sidebar-links .icons a,
.sidebar-links .texts a{
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--theme-text-2);
}
.sidebar-links .icons a:hover,
.sidebar-links .texts a:hover{
  color: var(--theme-yellow);
}



/*--------------------------------------------*/



.top-header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--theme-bg-1);
  color: var(--theme-text-2);
}
.sidebar-toggle {
  cursor: pointer;
}
.logo img{
  height: 40px;
}
.language-button button {
  background-color: transparent;
  color: var(--theme-text-2);
  border: 1px solid var(--theme-text-2);
  border-radius: 50px;
}
.language-button .dropdown-menu img,
.language-button button img{
  width: 18px;
}
.dropdown-menu{
  background-color: var(--theme-bg-1);
}
.dropdown-item{
  color: var(--theme-text-2);
}
.preference-icons a{
  color: var(--theme-text-2);
}
.preference-icons div{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.wallet a{
  text-decoration: none;
  color: var(--theme-text-1);
}
.wallet{
  background-color: var(--theme-red);
  border-radius: 50px;
  padding: 0.30rem 0.85rem;
  font-size: 1rem;
}
.header-carousel {
  flex-grow: 1;
  margin-right: 1rem;
  color: var(--theme-yellow);
}
.header-carousel .outer-stage{
  flex-grow: 1;
  width: 50px;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
.header-carousel .outer-stage::-webkit-scrollbar {
  display: none;
}
.header-carousel .stage{
  display: flex;
  flex-direction: row;
  width: 200px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.header-carousel .stage::-webkit-scrollbar {
  display: none;
}
.header-carousel .stage .slide{
  width: 400px;
  margin-right: 16px;
}
.header-carousel .stage .slide a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  color: var(--theme-text-1);
  text-decoration: none;
}
.header-carousel .image{
  position: relative;
}
.header-carousel .image img{
  width: 150px;
  height: 60px;
  object-fit: cover;
}
.header-carousel .image .discount{
  position: absolute;
  left: 0;
  background-color: var(--theme-red);
  font-size: 1.2rem;
  padding: 0 0.75rem;
}
.header-carousel .text{
  width: 250px;
  height: 60px;
  font-size: 1rem;
}
.header-carousel .title{
  text-align: left;
  padding: 0.5rem 0 0 0.5rem;
}
.header-carousel .subtitle{
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0.5rem;
}
.header-carousel .stage div:nth-child(1){
  margin-right: 0;
}
/*---------------------------------------------*/



.main-content{
  width: calc(100vw - 70px);
  background-color: var(--theme-bg-2);
  color: var(--theme-text-1);
  position: absolute;
  top: var(--header-height);
  z-index: -1;
  min-height: calc(100vh - var(--header-height));
}

.spinner-wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--theme-bg-1);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-wrapper .spinner-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--theme-text-1);
  font-size: 2rem;
}
.spinner-wrapper .spinner-border{
  border-left-color: transparent;
  width: 5rem;
  height: 5rem;
  border-width: 0.5rem;
  animation: spinner-border 1.25s linear infinite;
  margin-bottom: 2rem;
}

/*----------------------------------------------*/

#logo-sq{
  display: none;
}

@media only screen and (max-width: 1600px) {
  .header-side-image{
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  .header-carousel{
    display: none !important;
  }
}

@media only screen and (max-width: 625px) {
  #logo-rect{
    display: none !important;
  }
  #logo-sq{
    display: unset;
  }
}

@media only screen and (max-width: 500px) {
  .wallet a span{
    display: none;
  }
}
